{% extends "layout.html" %}
{% block body %}

<div class="block1">
<h1>You found it. It's here. Don't make a wrong move.</h1>
  <h2>Here is an interesting quote for you: </h2>
  <p>
   {{ quotestring }}
  </p>
<img src="http://www.naturalprogramming.com/images/smilingpython.gif">

<a href='warlock666?quote={{next_quote}}'>Next quote</a>

</div>
{% endblock %}
